src/main/mule/mule-cicd-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="32ff26df-2cbd-47e9-977d-18734626cd4a" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="mule-cicd-sampleFlow" doc:id="df480b9e-16c5-42a4-a63f-ef7315cb0cea" >
		<http:listener doc:name="Listener" doc:id="6717c7ad-dd63-4529-ad0a-cb3b4168c6eb" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="387240cc-c0eb-4a6d-8ca2-9a970687f45c" message='#["Flow triggered in mule"]'/>
		<ee:transform doc:name="Transform Message" doc:id="71d1aa00-a202-426c-8517-3be3312f4d0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Flow triggered !!!SS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
